<div class="education-section common-section">
  <h2 class="heading heading-position">Education</h2>

  <div class ="content content-position">
    <p>
      B.E. Mechanical Engineering<br />
      Kamaraj College of Engineering and Technology, Madurai<br />
      Jun 2015 - May 2019<br />
    </p>

    <p>
      HSC<br />
      Grace Matriculation Higher Secondary School, Madurai<br />
      Jun 2014 - May 2015<br />
    </p>

    <p>
      SSLC<br />
      Grace Matriculation Higher Secondary School, Madurai<br />
      Jun 2012 - May 2013<br />
    </p>
  </div>
</div>
