.language-section {
  background-color: #fff;
  /* height: 16%;
  width: 13%;
  left: 27%;
  top: 54%;
   */
  height: 8vw;
  width: 13vw;
  position: absolute;
  left: 27vw;
  top: 27vw;
}

.heading-position {
  position: absolute;
  left: 8%;
  top: 4%;
  /* margin-top: 5px; */
  margin-top: 0.5vw;
}

ul.language-list{
  /* margin-right:10%;
  margin-top:25%; */
  margin-top:4vw;
  width:10vw;
  padding-left:0vw;
  margin-left:2.5vw;
  /* margin-right:1vw;
  margin-top:3vw; */
}

ul li{
  /* padding-bottom: 7%;
  font-size: 110%; */
  padding-bottom: 0.5vw;
  font-size: 0.9vw;
}
