<!-- <div class="loader"></div> -->
<div class="profile-section common-section">
  <div>
    <img src="/assets/images/theri.jpg" alt="theri-image" class="theri-image" />
  </div>

  <div class="name">Theri Muthu Selvam</div>

  <div class="designation">Java Full-Stack Developer</div>

  <div class="other-personal-details">
    <p>178, Mahalakshmi Amman Kovil 2nd Cross Street,<br />
    Solai Alagu Puram 1st Street,<br />
    Madurai-11<br /></p>
    theriselvam37@gmail.com <br />
    9578765915
  </div>
</div>
