/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Bevan|Acme);

body {
  background-color: #f1f1f1 !important;
}

.common-section {
  border-bottom: 2px solid;
  border-radius: 30px;
  /*
  background-color:  !important;
  background-color: #fff;
  color: rgb(216, 83, 83);
  padding: 50px;
  font-weight: bold;
  text-align: center;
  background: #1abc9c;
  */
}

.heading {
  font-size: 150%;
  font-family: "Acme";
}

.content {
  line-height: 150%;
  font-size: 110%;
}
