.skills-section {
  background-color: #fff;
  /* height: 50%;
  width: 13%; */
  height: 25vw;
  width: 13vw;
  position: absolute;
  left: 27vw;
  top: 1vw;
}

.heading-position {
  position: absolute;
  left: 8%;
  top: 4%;
  /* margin-top: 5px; */
  margin-top: 0.5vw;
}

ul.skill-list{
  /* margin-right:10%;
  margin-top:31%;
  margin-left:0vw;
  margin-right:0vw; */
  margin-top:4vw;
  width:10vw;
  padding-left:0vw;
  margin-left:2.5vw;
}

ul li{
   /* padding-bottom: 7%;
  font-size: 110%; */
  padding-bottom: 0.5vw;
  font-size: 0.9vw;
}

/* .skill-list {
  width: 100%;
  list-style: none;
  margin: auto;
      padding:0px;
  }
  .skill-list li {
  width: 24.4%;
  margin: 0px !important;
  padding: 0px !important;
  display: inline-block;
  } */
