div.profile-section {
  background-color: #fff;
  /* height: 34%;
  width: 32%;
  top: 2%;
  left: 40.5%;
  */
  height: 17vw;
  width: 32vw;
  position: absolute;
  top: 1vw;

  /*
  padding: 20px;
  text-align: right;
  float: right;
  background-color:  !important;
  background-color: #fff;
  color: rgb(216, 83, 83);*/
}

div.name {
  /* font-size: 200%;
  for 1 percent 0.0083vw*/
  font-size: 1.66vw;
  font-family: 'Bevan';
  position: absolute;
  right: 35%;
  top:8%;
}

div.designation {
  /* font-size: 130%;
  font-family: 'Bigshot One'; */
  font-size: 1.079vw;
  position: absolute;
  right: 48%;
  top:27%;
}

div.other-personal-details {
  position: absolute;
  right: 38%;
  top: 40%;
  line-height:1.66vw;
  font-size:0.913vw;
  /*
  line-height: 200%;
  font-size: 110%; */

  /*
  line-height: 80%;
  font-family: 'Bevan';
  font-size: 32px;
  text-align: left; */
}

div p{
  line-height: 1.079vw;
  margin-bottom: 1%;
  /* line-height: 130%; */
}

img.theri-image {
  height: 9.9vw;
  width: 9vw;
  /* height: 187px;
  width: 170px; */
  position: absolute;
  right: 3%;
  top: 5%;
  border-radius: 2.5vw;
  border: 0.01vw solid;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.2), 0 0.75vw 2.5vw 0 rgba(0, 0, 0, 0.19);
}

/* .loader{
  --height-of-loader : 4px;
  --loader-color: #0071e2;
  width:40%;
  height: var(--height-of-loader);
  border: radius 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
  left:30%;
}

.loader::before{
  content:'';
  position:absolute;
  background: var(--loader-color);
  top:0;
  left:0;
  width:0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }
  100%{
    width:0;
    right:0;
    left:unset;
  }
} */

