.experience-section {
  background-color: #fff;
  /* height: 22%;
  width: 32%;
  top: 38%;
  left: 40.5%;
   */
  height: 11vw;
  width: 32vw;
  position: absolute;
  top: 19vw;
}

.heading-position {
  position: absolute;
  left: 3%;
  top: 4%;
  margin-top: 0.5vw;
  /*
  margin-top: 5px;
  padding: 50px;
  font-weight: bold;
  text-align: center;
  background: #1abc9c;*/
}

.content-position {
  position: absolute;
  left: 3%;
  top: 18%;
}

p {
  margin-bottom: 5%;
}
