.language-section {
  background-color: #fff;
  height: 16%;
  width: 13%;
  position: absolute;
  left: 27%;
  top: 54%;
}

.heading-position {
  position: absolute;
  left: 8%;
  top: 4%;
  margin-top: 5px;
}

ul.language-list{
  margin-right:10%;
  margin-top:25%;
}

ul li{
  padding-bottom: 7%;
  font-size: 110%;
}
